{% extends 'main_app/base.html' %}
{% load static %}

{% block content %}
    <div class="text-center">
        <h1 class="">Quiz</h1>
        <p>
            Предлагаем вам пройти тестирование и ответить на вопросы из области
            программирования :)
        </p>
        <div class="text-center row">
            <hr>
            <div>
                {% for quiz in object_list %}
                    <div class="row">
                        <div class="col-8">
                            <p>{{ quiz }}
                            </p></div>
                        <div class="col-4">
                            <a class="btn btn-success" href="{% url 'main_app:start' pk=quiz.id %}">
                                Перейти к опросу
                            </a>
                        </div>

                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
